:root {
  --first-color: #d4e0f5;
  --second-color: #1f3d6b;
  --first-font: "Playfair Display", serif;
  --second-font: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--first-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0px;
  font-family: var(--first-font);
  color: var(--second-color);
}

h1 {
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-size: 64px;
}

p {
  color: var(--second-color);
  font-family: var(--second-font);
  font-size: 40px;
  margin: 10px auto;
  max-width: 1000px;
}

.body-text {
  margin: 60px auto;
  text-align: center;
}

.btn-primary {
  background: var(--second-color);
  font-family: var(--second-font);
  border-radius: 4px;
  color: white;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  margin: 20px 0px;
  margin-bottom: 70px;
  box-shadow: var(--box-shadow);
}

.sahar-pic {
  margin: 0px auto;
  box-shadow: var(--box-shadow);
}

.container {
  max-width: 1200px;
  color: var(--second-color);
  font-family: var(--second-font);
  font-size: 20px;
  font-weight: normal;
  text-align: left;
}
.titleOfParagraph {
  font-size: 25px;
  font-weight: 600;
}
.titleOfSkills {
  font-weight: 400;
  font-style: italic;
}
.experience {
  list-style: none;
  padding-left: 0px;
}
.primary-link {
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--second-color);
  box-shadow: var(--box-shadow);
  color: white;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .mobile-link {
    display: block;
    text-align: center;
    margin: 0 30px;
  }
}
